@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  html:before, html:after, body:before, body:after, div:before, div:after, span:before, span:after, object:before, object:after, iframe:before, iframe:after,
  h1:before,
  h1:after, h2:before, h2:after, h3:before, h3:after, h4:before, h4:after, h5:before, h5:after, h6:before, h6:after, p:before, p:after, blockquote:before, blockquote:after, pre:before, pre:after,
  abbr:before,
  abbr:after, address:before, address:after, cite:before, cite:after, code:before, code:after,
  del:before,
  del:after, dfn:before, dfn:after, em:before, em:after, img:before, img:after, ins:before, ins:after, kbd:before, kbd:after, q:before, q:after, samp:before, samp:after,
  small:before,
  small:after, strong:before, strong:after, var:before, var:after,
  b:before,
  b:after, i:before, i:after,
  dl:before,
  dl:after, dt:before, dt:after, dd:before, dd:after, ol:before, ol:after, ul:before, ul:after, li:before, li:after,
  fieldset:before,
  fieldset:after, form:before, form:after, label:before, label:after, legend:before, legend:after,
  article:before,
  article:after, aside:before, aside:after, canvas:before, canvas:after, details:before, details:after, figcaption:before, figcaption:after, figure:before, figure:after,
  footer:before,
  footer:after, header:before, header:after, hgroup:before, hgroup:after, menu:before, menu:after, nav:before, nav:after, section:before, section:after, summary:before, summary:after,
  time:before,
  time:after, mark:before, mark:after, audio:before, audio:after, video:before, video:after, button:before, button:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

sub,
sup {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  sub:before, sub:after,
  sup:before,
  sup:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

a:before, a:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: none; }

q:before, q:after {
  content: none; }

:focus {
  outline: 0; }

input[type="text"], textarea {
  -webkit-appearance: none; }
  input[type="text"]::-ms-clear, textarea::-ms-clear {
    display: none; }

input,
textarea {
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #898b8c; }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #898b8c; }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #898b8c; }
  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    color: transparent; }
  input:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder {
    color: transparent; }
  input:focus:-ms-input-placeholder,
  textarea:focus:-ms-input-placeholder {
    color: transparent; }

textarea {
  resize: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word; }

div {
  display: block; }

.c-title {
  font-size: 30px;
  color: #293439;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-bottom: 18px; }

body, html {
  font-family: 'Roboto', sans-serif; }

.c-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .c-social-card {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 150px;
    margin-right: 9px; }
    .c-social-card:last-child {
      margin-right: 0; }

.c-subscription a {
  color: #f06314;
  text-decoration: none; }

.c-subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 8px; }

.c-subscription-input {
  width: 100%;
  display: block;
  padding: 14px 17px;
  background-color: #fff;
  border-radius: 4px;
  color: #293439;
  font-size: 13px;
  margin-right: 12px;
  border: none;
  outline: none; }

.c-subscription-btn {
  background-color: #f06314;
  display: block;
  padding: 14px 17px;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer; }

.c-subscription__text {
  color: #a7abaf;
  font-size: 13px;
  margin-bottom: 8px; }

.layout {
  max-width: 1380px;
  margin: 0 auto; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  .header-layout {
    background-color: #293439;
    -webkit-box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.3); }
  .header-logo {
    width: 250px; }
  .header-body {
    width: 100%; }
  .header-operation {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 5; }
    .header-operation::before {
      content: '';
      position: absolute;
      z-index: 5;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: #e3e3e3; }
    .header-operation::after {
      content: '';
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0;
      background-color: #fff;
      width: 50vw;
      height: 35px; }
    .header-operation-layout {
      -webkit-transform: skewX(200deg);
          -ms-transform: skewX(200deg);
              transform: skewX(200deg); }
    .header-operation-left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .header-operation-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;
      z-index: 5; }
  .header-catalog {
    margin-right: 6px; }
    .header-catalog__link {
      display: block;
      padding: 10px 18px 10px 30px;
      background-color: #f06314;
      color: #ffffff;
      text-decoration: none;
      font-size: 13px;
      position: relative;
      z-index: 10; }
      .header-catalog__link::after {
        content: '';
        position: absolute;
        z-index: 10;
        top: 0;
        left: -15px;
        bottom: 0;
        width: 30px;
        background-color: #f06314;
        -webkit-transform: skewX(200deg);
            -ms-transform: skewX(200deg);
                transform: skewX(200deg); }
    .header-catalog:hover .catalog-menu {
      opacity: 1;
      visibility: visible;
      z-index: 6;
      -webkit-transition: all .1s ease-in-out;
      -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out; }
    .header-catalog .catalog-menu {
      -webkit-transition: all .1s ease-in-out;
      -o-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
      position: absolute;
      top: 100%;
      left: -9px;
      right: -1px;
      z-index: -1;
      opacity: 0;
      visibility: hidden;
      padding: 33px 56px;
      background-color: #fff;
      -webkit-box-shadow: 0px -3px 0px 0px #f06314, 0 5px 50px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0px -3px 0px 0px #f06314, 0 5px 50px 0 rgba(0, 0, 0, 0.2);
      border-radius: 0 4px 4px 4px; }
      .header-catalog .catalog-menu-category {
        max-width: 115px; }
        .header-catalog .catalog-menu-category__item.active .catalog-menu-category__title {
          background-color: #f06314;
          border-radius: 4px;
          color: #ffffff; }
        .header-catalog .catalog-menu-category__title {
          display: block;
          font-size: 16px;
          color: #273136;
          text-decoration: none;
          padding: 10px 9px; }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-menu__link {
      display: block;
      padding: 10px 18px;
      position: relative;
      text-decoration: none;
      font-size: 13px;
      color: #293439; }
      .header-menu__link:hover {
        color: #f06314; }
      .header-menu__link::after {
        content: '';
        position: absolute;
        width: 1px;
        right: 0;
        top: 6px;
        bottom: 6px;
        background-color: #e3e3e3; }
  .header-phone__link {
    text-decoration: none;
    font-size: 13px;
    color: #1e1c27;
    display: block;
    padding: 10px 15px; }
    .header-phone__link:hover {
      color: #f06314; }
  .header-auth {
    border-left: 1px solid #e3e3e3; }
    .header-auth__link {
      text-decoration: none;
      font-size: 13px;
      color: #1e1c27;
      display: block;
      padding: 10px 15px; }
      .header-auth__link:hover {
        color: #f06314; }
  .header-basket {
    border-left: 1px solid #e3e3e3; }
    .header-basket__link {
      display: block;
      padding: 8px 7px 8px 14px;
      text-decoration: none; }
    .header-basket__count {
      position: relative;
      z-index: 2;
      color: #ffffff;
      font-size: 13px; }
      .header-basket__count::after {
        content: '';
        position: absolute;
        z-index: -1;
        border-radius: 150px;
        width: 22px;
        height: 22px;
        top: -4px;
        left: -7px;
        background-color: #f06314; }
  .header-search {
    background-color: #fff;
    position: relative;
    margin-left: 14px; }
    .header-search::before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: -15px;
      bottom: 0;
      width: 30px;
      -webkit-transform: skewX(200deg);
          -ms-transform: skewX(200deg);
              transform: skewX(200deg);
      background-color: #fff; }
    .header-search::after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      right: -8px;
      bottom: 0;
      width: 30px;
      -webkit-transform: skewX(200deg);
          -ms-transform: skewX(200deg);
              transform: skewX(200deg);
      background-color: #fff; }
    .header-search-input {
      display: block;
      width: 100%;
      padding: 14px 14px 14px 25px;
      outline: none;
      border: none;
      background-color: transparent; }

.slider {
  margin-bottom: 64px; }

.advantages {
  margin-bottom: 60px; }
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -20px;
    margin-right: -20px; }
    .advantages-list__item {
      padding: 0 20px;
      width: 20%; }
  .advantages-card {
    min-width: 200px;
    height: 250px;
    position: relative;
    background-color: #eff0f2;
    border-radius: 400px;
    font-family: sans-serif; }
    .advantages-card::after {
      content: '';
      border: 1px solid #dbdcde;
      position: absolute;
      top: -6px;
      left: -6px;
      right: -6px;
      bottom: -6px;
      border-radius: 400px; }
    .advantages-card-layout {
      background-color: #fff;
      position: absolute;
      top: 6px;
      left: 6px;
      right: 6px;
      bottom: 6px;
      border-radius: 400px;
      padding: 37px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .advantages-card__title {
      text-align: center;
      font-size: 13px;
      text-transform: uppercase;
      line-height: 1.2; }
    .advantages-card__icon {
      margin-bottom: 16px; }

/*popular-category*/
.popular-category {
  margin-bottom: 60px; }
  .popular-category-grid__line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%; }
    .popular-category-grid__line > .popular-category-grid__col {
      padding: 10px 5px; }
  .popular-category-grid__col {
    padding: 10px; }
    .popular-category-grid__col.col-12 {
      width: 100%; }
    .popular-category-grid__col.col-6 {
      width: 50%; }
  .popular-category-card {
    background-color: #eff0f2;
    width: 100%;
    height: 340px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    padding: 34px;
    background-size: cover; }
    .popular-category-card:hover {
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1); }
    .popular-category-card a {
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #293439;
      font-family: 'Roboto', sans-serif;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .popular-category-card__title {
      width: 100%;
      color: #293439;
      font-weight: 300;
      text-align: center;
      font-size: 20px; }
    .popular-category-card__img {
      text-align: center;
      margin-bottom: 10px; }

/*reviews*/
.reviews {
  margin-bottom: 60px; }
  .reviews-list__item {
    width: 25%; }
  .reviews-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .reviews-card__img {
      width: 55px;
      height: 55px;
      border-radius: 150px;
      position: relative;
      margin-right: 22px; }
      .reviews-card__img div {
        overflow: hidden;
        width: 55px;
        height: 55px;
        border-radius: 150px;
        position: relative; }
        .reviews-card__img div img {
          -o-object-fit: cover;
          object-fit: cover; }
      .reviews-card__img::after {
        content: '';
        position: absolute;
        top: -6px;
        bottom: -6px;
        left: -6px;
        right: -6px;
        border: 1px solid #eff0f2;
        border-radius: 150px; }
    .reviews-card__title {
      margin-bottom: 10px; }
      .reviews-card__title a {
        font-size: 13px;
        color: #f06314;
        line-height: 1.1; }
    .reviews-card__about {
      color: #293439;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 10px; }
    .reviews-card__date {
      color: #c3c3c3;
      font-size: 13px;
      margin-bottom: 10px; }
    .reviews-card__text {
      font-size: 13px;
      color: #293439;
      line-height: 1.3;
      margin-bottom: 8px; }
    .reviews-card__more {
      font-size: 13px;
      color: #f06314;
      line-height: 1.1; }

.footer {
  background-color: #293439;
  font-family: 'Roboto', sans-serif; }
  .footer-top {
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer-subscription {
    padding-left: 25px; }
  .footer-menu {
    margin-left: -12px;
    margin-right: -12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 25px;
    width: 70%; }
    .footer-menu__item {
      width: 50%;
      padding: 0 12px; }
    .footer-menu__link {
      display: block;
      padding: 10px 10px 10px 20px;
      color: #a7abaf;
      font-size: 13px;
      text-decoration: none;
      border-bottom: 1px solid #676b6c;
      position: relative; }
      .footer-menu__link::after {
        content: '→';
        position: absolute;
        color: #f06314;
        left: 0;
        top: 8px; }
  .footer-social {
    padding: 0 25px; }
  .footer-bottom {
    background-color: #293439;
    -webkit-box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.3);
    padding: 12px 0; }
    .footer-bottom-grid {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .footer-bottom__copyright {
      font-weight: 300;
      font-size: 13px;
      text-align: center;
      color: #a7abaf; }
      .footer-bottom__copyright span {
        color: #f06314; }
    .footer-bottom__dev {
      color: #a7abaf;
      text-decoration: none;
      font-weight: 300;
      font-size: 13px; }
