@font-face {
  font-family: 'Days';
  src: url('../fonts/Days.eot');
  src: local('Days'),
  url('../fonts/Days.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Days.woff') format('woff'),
  url('../fonts/Days.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}