.icon-logo {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 238px;
    width: 1em;
    height: .15em;
}

.icon-phone {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 17px;
    width: 1em;
    height: 1em;
}

.icon-user {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 16px;
    width: 1em;
    height: 1.1em;
}

.icon-basket {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 15px;
    width: 1em;
    height: 1.15em;
}

.icon-search {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 17px;
    width: 1em;
    height: .8em;
}

.icon-email {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 17px;
    width: 1em;
    height: .7em;
}

.icon-facebook {

}

.icon-twitter {

}

.icon-googleplus {

}

.icon-youtube {

}