.icon-logo {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 238px;
    width: 1em;
    height: .15em;
}

.icon-phone {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 17px;
    width: 1em;
    height: 1em;
}

.icon-user {

}

.icon-basket {

}

.icon-mail {

}

.icon-facebook {

}

.icon-twitter {

}

.icon-googleplus {

}

.icon-youtube {

}