.icon-logo {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 238px;
    width: 1em;
    height: .17em;
}

.icon-phone {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 17px;
    width: 1em;
    height: 1em;
}

.icon-user {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 16px;
    width: 1em;
    height: 1.1em;
}

.icon-basket {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 15px;
    width: 1em;
    height: 1.15em;
}

.icon-search {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 17px;
    width: 1em;
    height: .8em;
}

.icon-email {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 17px;
    width: 1em;
    height: .7em;
}

.icon-facebook {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 8px;
    width: 1em;
    height: 2em;
}

.icon-twitter {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 17px;
    width: 1em;
    height: .8em;
}

.icon-googleplus {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 19px;
    width: 1em;
    height: .8em;
}

.icon-youtube {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 18px;
    width: 1em;
    height: 1em;
}

.icon-arrow-up,
.icon-arrow-down,
.icon-arrow-left,
.icon-arrow-right,
.icon-close {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 12px;
    width: 1em;
    height: 1em;
}


.icon-home {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 16px;
    width: 1em;
    height: 1em;
}

.icon-tile,
.icon-list {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 16px;
    width: 1em;
    height: 1em;
}


.icon-truck {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 18px;
    width: 1em;
    height: 1em;
}


.icon-phone-outline {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 14px;
    width: 1em;
    height: 1em;
}

.icon-basket-del {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 16px;
    width: 1em;
    height: 1.2em;
}

.icon-edit {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 15px;
    width: 1em;
    height: 1em;
}

.icon-door {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 15px;
    width: 1em;
    height: 1em;
}

.icon-skype {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 16px;
    width: 1em;
    height: 1em;
}

.icon-icq {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 16px;
    width: 1em;
    height: 1em;
}

.icon-point {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 16px;
    width: 1em;
    height: 1em;
}

.icon-filter {
    display: inline-block;
    fill: #b5b5b5;
    font-size: 13px;
    width: 1em;
    height: 1em;
}

.icon-exel {
    display: inline-block;
    font-size: 30px;
    width: 1em;
    height: 1em;
}
