@media (max-width: 1919px) and (min-width: 1880px) {
    .slider-item {
        height: 533px;
    }
}

@media (max-width: 1430px) {
    .header-search {
        &::after {
            content:'';
            display: none;
        }
    }



    .advantages {
        margin-bottom: 40px;

        &-list {
            margin: 0;
        }

        &-card {
            background: none;
            height: auto;
            min-width: 0;
            max-width: none;

            &-layout {
                position: static;
            }
            &::after {
                content: '';
                display: none;
            }
        }
    }

    .popular-category > .popular-category-grid__line {
        display: block;
    }

    .popular-category > .popular-category-grid__line .popular-category-grid__col.col-6 {
        width: 100%;
        padding: 0 5px;

    }
    .popular-category > .popular-category-grid__line > .popular-category-grid__col.col-6 {
        margin-bottom: 10px;

    }

    .contact-grid {
        margin-left: -15px;
        margin-right: -15px;
    }

    .contact-col {
        padding: 0 15px;
    }

    .profile-grid {
        margin-left: 0;
        margin-right: 0;
    }

    .profile-col {
        padding: 0 27px 0 0;
    }
    .profile-col:last-child {
        padding: 0;
    }
}

@media (max-width: 1340px) {
    .header-operation-right .header-course {
        display: none;
    }
}

@media (max-width: 1270px) {

    .catalog-list[data-display="tile"] {
        justify-content: flex-start;
    }
    .catalog-list[data-display="tile"] .catalog-list__item {
        width: 33.333%;
    }

    .product-card__body {
        flex-flow: row wrap;

    }

    .product-card-reference {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch;
    }

    .product-card-img,
    .product-card-info {
        width: 50%;
    }

    .product-card-reference__item {
        margin-right: 50px;
    }



    //.product-slider {
    //    position: relative;
    //    display: block;
    //    padding-bottom: 72px;
    //}
    //
    //.product-slider-nav {
    //    position: absolute;
    //    bottom: 0;
    //    left: 0;
    //    right: 0;
    //}
    //
    //.product-slider-nav .slick-list {
    //    width: 100% !important;
    //    height: 79px !important;
    //}


}

@media (max-width: 1230px) {
    //.search-list-head {
    //    display: none;
    //}

    .search-card-discount {
        width: 6%;
    }
    .search-card-product {
        width: 21%;
    }
    .search-card-quantity {
        width: 10%;
    }
    .search-card-btn {
        width: 6%;
    }

    .search-card {
        font-size: 13px;
    }
    .search-list-head__item {
        white-space: normal;
    }

    .search-list-head .search-card{
        padding: 0;
    }

    .profile-history .profile-table-head {
        display: none;
    }

    .header-logo {

    }

    .header-logo .icon-logo {
        font-size: 220px;
    }

    .header-menu__link {
        display: block;
        padding: 10px 14px;
    }


}
@media (max-width: 1150px) {

    .header-logo {
        width: 250px;
    }

    .header-menu {
        //display: none;

    }
    .header-menu__link {
        display: block;
        padding: 10px 6px;
    }

    .header-phone__link .icon-phone {
        left: 0;
    }

    .header-catalog {
        margin-right: 0;
    }


    .header-auth__link {
        padding: 10px 9px 10px 28px
    }

    .header-auth__link .icon-user {
        left: 8px;
    }

    .header-phone__link {
        padding: 10px 8px 10px 24px;
    }

    .footer-menu {
        margin: 0;
        padding: 0;
    }

    .footer-social {
        padding: 0 15px;
    }

    .about-list__item {
        margin-right: 15px;
    }

    .basket-grid {
        display: block;
    }

    .basket-col {
        padding: 0 !important;
        width: 100% !important;
    }


    .basket-operation-btn {
        text-align: center;
    }

    .basket-operation-btn .c-btn {
        width: auto;
        display: inline-block;
    }

    .basket-list-title {
        font-size: 14px;
    }

    .basket-operation-total {
        margin-bottom: 10px;
    }

    .basket-list-col {
        padding: 18px 16px;
    }

}

@media (max-width: 1060px) {
    .footer-top {
        flex-flow: row wrap;
    }

    .footer-subscription {
        padding: 0;
        margin-top: 20px;
    }

    .footer-menu__item {
        padding: 0 14px 0 0;
    }

    .advantages-card-layout {
        padding: 10px;
    }

    .advantages-list__item {
        padding: 0 6px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 20px;
    }
    .popular-category {
        margin-bottom: 40px;
    }
    .breadcrumb {
        padding: 12px 0;
    }

    .breadcrumb-no-link,
    .breadcrumb-link {
        padding: 2px 0;
    }

    .category-list__item {
        width: 33.33%;
    }

    .about-list {
        flex-flow: row wrap;
    }
    .about-list__item {
        width: 48%;
        margin:0 !important;
    }

    .search-list-head {
        display: none;
    }

    .contact-grid {
        display: block;
    }

    .contact-col {
        width: 100%;
    }

    .contact-map {
        display: none;
    }

    .contact-map-mobile {
        display: block;
        margin-bottom: 10px;
    }

    .contact-grid {
        margin-left: 0;
        margin-right: 0;
    }

    .contact-col {
        padding: 0;
    }

    .catalog-col__left {
        padding: 0;
    }

    .filter-layout {
        //display: none;

    }

    .filter {
        right: -320px;
        //width: 100%;
        border-radius:0;
        position: fixed;
        top: 0;
        //right: 0;
        bottom: 0;
        width: 320px;
        z-index: 100;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 47px 0 80px;
        transition: all .2s ease-in-out;

    }

    .filter-box {
        padding: 15px 15px 10px;
    }

    .filter-mobile .catalog-sorting-availability,
    .filter-item-title {
        padding: 10px 17px;
    }

    .filter-mobile {
        display: block;
    }

    .catalog {
        display: block;
    }

    .catalog-body .catalog-sorting,
    .catalog-body .catalog-model {
        display: none;
    }

    .c-tabs-menu__item > a {
        font-size: 15px;
        padding: 11px 30px;
    }

    .product-card-info {
        font-size: 14px;
    }

    .product-slider-nav {
        display: none;
    }

    .product-slider-for {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .product-slider {
        height: auto;
    }

    .horizontal-slider-nav {
        height: 73px;

    }

    .product-slider-for__item {
        height: 320px
    }

    .profile-grid {
        display: block;
    }

    .profile-col {
        width: 100%;
        padding: 0;
    }

    .profile .c-tabs-menu__item > a {
        font-size: 14px;
        padding: 11px 14px;
    }

    #profile-card-2 .profile-field {
        max-width: 100%;
    }

    .profile-history .profile-table-row {
        display: block;
        padding: 10px 0;
        margin-bottom: 10px;
        border: 1px solid #e5e5e5;
    }
    .profile-history .profile-table {
        border: none;
    }


    .profile-history .profile-table-body .profile-table-col {
        display: block;
        padding: 5px 16px;
        width: 100%;
        text-align: left;
        border-right: none;

    }

    .profile-history .profile-table-icon {
        position: absolute;
        bottom: 12px;
        right: 14px;
    }


    .profile-delivery .profile-table-head {
        display: none;
    }

    .profile-delivery .profile-table-col:nth-child(3) {
        position: absolute;
        left: 10px;
        top:20px;
        width: 16px;
        height: 16px;
        padding: 0;
    }

    .profile-delivery  .profile-table-row {
        padding: 20px;
        padding-left: 38px;
        border: 1px solid #e5e5e5;
        margin-bottom: 10px;
        display: block;
    }

    .profile-delivery  .profile-table {
        border: none;
    }

    .profile-delivery .profile-table-col {
        border: none;
        padding: 0;
        margin-bottom: 10px;
    }

    .profile-delivery .profile-table-col:nth-child(4) {
        position: absolute;
        top: 14px;
        right: 16px;
        padding: 0;
        width:20px;
        margin: 0;
    }

    .profile-delivery .profile-table-col:nth-child(5) {
        position: absolute;
        bottom: 14px;
        right: 16px;
        padding: 0;
        width:20px;
        margin: 0;
    }

    .profile-delivery .profile-table-col:nth-child(1),
    .profile-delivery .profile-table-col:nth-child(2) {
        width: 100%;
        padding-right: 40px;
    }

    .profile-delivery .profile-table-col:nth-child(2) {
        margin-bottom: 0;
    }

    .profile-history-product__code {
        padding: 0;
    }

    .slider-item__title {
        margin-bottom: 20px;
        font-size: 40px;
    }

}

@media (max-width: 1030px) {
    .main {
        padding-top: 90px;
    }

    .header {
        display: block;
        background-color: #fff;
        margin-left: -16px;
        margin-right: -16px;
    }
    .header-layout {
        background-color: #fff;
    }

    .header-body {
        background-color: #374247;
        padding: 0 6px 0 6px;
    }

    .header-logo{
        padding: 10px 16px 10px;
        .icon-logo {
            fill: #293439;
            font-size: 200px;
        }
    }

    .header-catalog__link::after {
        content: '';
        display: none;
    }
    .header-menu {
        display: none;
    }

    .header-menu-mobile {
        display: block;
    }

    .header-search {
        margin: 0;
        margin-top: -1px;
        position: absolute;
        //top: -1px;
        left: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.15);
        border-top: 3px solid #f06314;
    }

    .header-search .icon-search {
        left: 16px;
    }

    .header-search-input {
        padding: 14px 14px 15px 71px;
    }

    .header-search.is-show {
        opacity: 1;
        visibility: visible;
        transition: all .2s ease;
    }

    .header-catalog__link {
        background-color: transparent;
    }

    .header-operation {
        background-color: transparent;
    }

    .header-operation::before,
    .header-operation::after {
        content: '';
        display: none;
    }

    .header-basket {
        border: none;
    }

    .header-auth {
        border: none;

        span {
            display: none;
        }
    }

    .header-auth__link {
        padding: 10px 12px;
    }

    .header-basket__link {
        padding: 8px 10px 10px 26px;
    }

    .header-basket__link .icon-basket {
        left: 4px;
    }

    .header-basket__link .icon-basket {

    }
    .header-auth__link .icon-user {
        position: static;
    }

    .header-search-mobile {
        display: block;

        a:hover svg {
            fill: #f06314;
        }
    }

    .header-catalog .catalog-menu {
        top: 106%;
        left: -16px;
        right: -16px
    }

    .header-catalog__link .header-catalog-icon {
        display: none;
    }

    .header-catalog__link {
        padding: 13px 16px;
    }



    .header-phone {
        color: #374247;
        position: fixed;
        top: 8px;
        right: 0;
        svg {
            display: none;
        }
    }
}

@media (max-width: 1000px) {
    .header-catalog .catalog-menu-category {
        max-width: 100%;
        flex: 1 0 100%;
    }

    .header-catalog .catalog-menu-category__item {
        max-width: 100%;
    }

    .header-catalog .catalog-menu-category {
        border: none;
    }

    .slider {
        width: 0;
        height: 0;
        visibility: hidden !important;
        opacity: 0 !important;
        margin: 0 !important;
        display: none;
    }



    .slider-mobile {
        position: relative;
        top: auto;
        left: auto
    }

    .catalog-list[data-display="list"] .catalog-card__body {
        padding-right: 4%;
    }

    .catalog-list[data-display="list"] .catalog-card__footer {
        padding-top: 40px;
    }


}
@media (max-width: 790px) {



    .footer-top {
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: stretch;
    }

    .footer-menu {
        width: 100%;
        margin-bottom: 10px;
        order: 2;
    }

    .footer-social {
        padding: 0;
        order: 1;
        margin-bottom: 20px;
    }

    .footer-social .c-social {
        justify-content: flex-end;
    }

    .footer-subscription {
        order: 3;
    }

    .footer-bottom__left {
        flex: 1 0 100%;
    }

    .footer-bottom-grid .footer-bottom__dev {
        display: none;
    }

    .footer-bottom-mobile {
        display: block;
    }

    .footer-bottom-grid {
        position: relative;
    }

    .footer-bottom__scrollup {
        position: absolute;
        top: 0;
        right: 0;
    }

    .footer-social {
        margin-bottom: 10px;
    }

    .c-title {
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    .advantages-list {
        flex-flow: row wrap;
        justify-content: center;
    }

    .advantages-list__item {
        width: 33%;
    }
    .category-list__item {
        width: 50%;
    }

    .search-card {
        flex-flow: row wrap;
        justify-content: flex-start;
    }

    .search-card-vendor {
        //flex: 1 0 20%;
        text-align: left;
        width: 20%;
        margin-bottom: 10px;
        display: none;
    }
    .search-card-pn {
        text-align: left;
        //flex: 1 0 20%;
        width: 20%;
        margin-bottom: 10px;
        display: flex;
        flex-flow: row wrap;
    }

    .search-card-code {
        margin-right: 10px;
    }
    .search-card-product {
        //flex: 1 0 80%;
        width: 100%;
        order: -1;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .search-card-contract {
        width: 20%;
        margin-bottom: 10px;
    }

    .search-card-price,
    .search-card-sale {
        width: 15%;
    }

    .search-card-quantity {
        width: 14%;
    }
    .search-card-btn {
        width: 10%;
    }

    .search-area .header-search {
        display: block;
        position: relative;
        left: auto;
        top: auto;
        right: auto;
        bottom: auto;
        opacity: 1;
        visibility: visible;
    }

    .basket-list {
        border: none;
    }

    .basket-list-head {
        display: none;
    }

    .basket-list__item {
        margin-bottom: 10px;
        border: 1px solid #e5e5e5;
        flex-flow: row wrap;
        padding: 18px 16px;
        position: relative;
    }

    .basket-list-col {
        border: none;
        padding: 0;
    }

    .basket-list-product {
        width: 100%;
        align-items: flex-start;
    }

    .basket-price-sale {
        margin-bottom: 4px;
    }

    .basket-list-price {
        width: 100%;
        align-items: flex-start;
    }

    .basket-price-discount__mess,
    .basket-price-discount__num {
        display: inline-block;
    }

    .basket-list-del__btn {
        cursor: pointer;
        padding: 6px 10px;
    }

    .basket-list-del {
        width: auto;
        position: absolute;
        right: 4px;
        top: 8px;
    }

    .basket-list-quantity {
        margin-top: 10px;
        width: 50%;
        text-align: left;
        align-items: flex-start;
    }

    .basket-list-total {
        margin-top: 10px;
        width: 50%;
        text-align: right;
        align-items: flex-end;
    }

    .catalog-list[data-display="tile"] .catalog-list__item {
        width: 50%;
    }

    .product-card__body {
        display: block;
    }
    .product-card-img, .product-card-info {
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0;
        padding: 0;
    }

    .product-slider-for {
        margin-bottom: 10px;
    }



    .product-card-table__key {
        padding-right: 10px;
    }

    .product-card-table__line {
        align-items: stretch;
    }

    .product-card-table__value {
        text-align: right;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;

        height: 100%;
    }

    .product-card-info {
        padding: 0;
        font-size: 13px;
    }

    .profile .c-tabs-menu__item {
        width: 100%;
    }
    .profile .c-tabs-menu__item > a {
        //width: 100%;
        display: block;
        background-color: #eff0f2;
        border: 1px solid #e5e5e5;
        white-space: normal;
        margin-left: -16px;
        margin-right: -16px;
        padding: 14px 14px;
    }

    .profile .c-tabs-menu__item.current > a {
        background-color: #f06314;
        border-color: #f06314;
        color: #ffffff;
    }

    .profile .c-tabs-menu__item .tab-content {
        margin: 20px 0;
    }

    .c-tabs-body {
        padding: 0;
    }

    .profile-exit {
        top: -40px;
    }

    .main-title {
        font-size: 24px
    }

    .slider-mobile-card__img {
        height: 300px;
    }

    .slider-mobile .slick-prev, .slider-mobile .slick-next {
        top: 150px;
    }

    .slider-mobile-card__title {
        margin-bottom: 10px;
        font-size: 28px;
    }

    .slider-mobile-card__text {
        margin-bottom: 12px;
        font-size: 14px;
    }

    .slider-mobile-card__btn {
        font-size: 14px;
    }

    .catalog-list[data-display="list"] .catalog-card {
        display: block;
    }

    .catalog-list[data-display="list"] .catalog-card__footer {
        position: absolute;
        top: 16px;
        right: 16px;
        padding-top: 34px;
    }

    .catalog-list[data-display="list"] .catalog-card__body {
        width: 100%;
        padding: 0;
        margin-top: 14px;
    }

    .catalog-list[data-display="list"] .catalog-card__info {
        margin-bottom: 8px;
    }

    .catalog-list[data-display="list"] .catalog-card__condition {
        margin-bottom: 4px;
    }

    .catalog-list[data-display="list"] .catalog-card__sale,
    .catalog-list[data-display="list"] .catalog-card__price {
        text-align: left;
    }

    .catalog-list[data-display="list"] .catalog-card__line {
        margin-top: 2px;
    }

    .catalog-list[data-display="list"] .catalog-card__availability {
        right: 16px;
        top: 17px;
    }

    .catalog-list[data-display="list"] .catalog-card__img {
        height: 136px;
    }

    .product-card .c-tabs-body {
        padding-top: 20px;
    }

    .product-card-table--3 .product-card-table__key {
        width: 40%;
    }
    .product-card-table--3 .product-card-table__value {
        width: 60%;
        text-align: left;
    }

}
//790px

@media (max-width: 680px) {
    .advantages-card__icon {
        width: 45px;
        margin-bottom: 8px;
    }

    .advantages-card__icon img {
        width: 100%;
    }

    .advantages {
        margin-bottom: 30px;
    }

    .about-text {
        max-width: 100%;
    }

    .about-list__item {
        width: 100%;
    }

    .c-title span {
        margin-right: 0;
    }

    .c-title-more {
        margin: 8px 0 0;
    }

    .c-title__del {
        display: none !important;
    }

    .filter-mobile-btn {
        padding: 10px 14px;
    }

    .catalog-sorting-mobile .catalog-sorting-view {
        padding: 8px 14px 8px;
    }

    .profile-footer__btn {
        padding: 0 10px;
    }

    .header-catalog .catalog-menu-product__grid {
        display: block;
    }
    .header-catalog .catalog-menu-product__col {
        width: 100%;
        padding: 0;
        border: none;
    }

    .header-catalog .catalog-menu-product__item {
        padding: 10px;
    }

    .header-catalog .catalog-menu {
        padding: 24px 48px 60px;
        overflow-y: auto;
        height: 100vh;
    }

    .popup-title {
        font-size: 24px;
    }
}

@media (max-width: 640px) {
    .product-card-table--3 .product-card-table__line:nth-child(1) {
        display: none;
    }
    .product-card-table--3 .product-card-table__line {
        display: block;
        padding: 8px 10px;
    }

    .product-card-table--3 .product-card-table__price {
        justify-content: flex-start;
    }


    .product-card-table--3 .product-card-table__key {
        width: 100%;
    }
    .product-card-table--3 .product-card-table__value {
        width: 100%;
        margin-bottom: 6px;
    }
}

@media (max-width: 580px) {
    .search-card-contract {
        width: 55%;
        text-align: left;
    }

    .search-card-pn {
        width: 35%;
    }

    .search-card-sale {
        width: 24%;

    }
    .search-card-price {
        width: 24%;

    }

    .search-card-discount {
        width: 14%;

    }

    .search-card-quantity {
        width: 20%;

    }

    .search-card-btn {
        width: 16%;
        text-align: right;
    }

    .catalog-list[data-display="tile"] .catalog-list__item {
        width: 100%;
    }

    .product-card-reference {
        display: block;
    }

    .product-card-reference__item {
        margin-right: 0;
    }

    .profile-field {
        border: none;
    }

    .profile-label span {
        border:none;
        background: none;
        flex: 1;
        padding: 0 0 6px;
    }

    .profile-box-list__item {
        margin-bottom: 6px;
    }

    .profile-box__title {
        margin-bottom: 14px;
    }

    .profile-label {
        display: block;
    }

    .profile-input {
        width: 100%;
        border: 1px solid #e5e5e5;
    }

}


@media (max-width: 550px) {
    .slider-category-card {
        max-width: 100%;
    }

    .category-list__item {
        width: 100%;
    }

    .error-page-message__img {
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .error-page {
        position: static;
        transform: none;
    }
    .product-card .c-tabs-menu__item > a {
        font-size: 13px;
        padding: 11px 20px;
    }

    .slider-mobile-card__img {
        height: 200px;
    }

    .slider-mobile .slick-prev, .slider-mobile .slick-next {
        top: 100px;
    }

    .slider-mobile-card__title {
        font-size: 20px;
    }

    .slider-mobile .slick-dots {
        bottom: 12px;
    }

}


@media (max-width: 480px) {
    .footer-menu {
        display: block;
    }

    .footer-menu__item {
        width: 100%;
        padding: 0;
    }

    .footer-bottom .icon-logo {
        font-size: 218px;
    }

    .c-title {
        font-size: 19px;
    }

    .advantages {
        display: block;
        margin-bottom: 20px;
    }

    .advantages-list {
        display: block;
    }

    .advantages-list__item {
        width: 100%;
        text-align: left;
    }

    .advantages-card__title {
        text-align: left;
        flex:1;
    }

    .advantages-card-layout {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        margin-bottom: 15px;
    }

    .advantages-card__icon {
        margin: 0 20px 0 0;
        flex: 0 1 45px;
    }

    .advantages-card-layout {

    }

    .header-catalog__link {
        padding: 13px 10px;
    }


    .popular-category {
        margin-bottom: 36px;
    }


    .popular-category-grid__line {
        display: block;
        margin-bottom: 0;
        padding: 0;
    }

    .popular-category-grid__col {
        padding: 0 !important;
        margin-bottom: 10px;
        margin-left: -8px;
        margin-right: -8px;
        width: auto !important;
    }

    .popular-category-card {
        height: 120px;
        padding: 20px 34px;

        a {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .popular-category-card__img {
        flex: 0 1  90px;
        margin: 0 25px 0 0;
    }

    .popular-category-card__title {
        text-align: left;
        flex: 1;
    }

    .about .advantages-list__item {
        width: 100%;
    }

    .basket-product {
        display: block;
    }

    .basket-product__body {
        margin-bottom: 10px;
    }

    .basket-operation__body {
        padding: 20px 23px;
    }

    .basket-operation-btn .c-btn {
        width: 100%;
    }

    .contact-form .c-form-grid {
        display: block;
    }
    .contact-form .c-form-grid .c-form-col {
        margin-bottom: 10px;
    }
    .contact-form .c-form-col {
        width: 100%;
    }

    .c-checkbox-label span {
        font-size: 14px;
    }

    .filter-mobile-footer .c-btn {
        padding: 12px;
    }

    .product-card .c-tabs-menu__item a {
        font-size: 12px;
        padding: 11px 8px;
    }

    .product-slider-for__item {
        height: 220px;
    }

    .main-title {
        font-size: 19px;
    }

    .popup-title {
        text-align: left;
        font-size: 19px;
    }

    .popup {
        padding: 24px 16px 34px;
    }

    .popup .c-form-grid {
        display: block;
    }

    .popup .c-form-col {
        width: 100%;
    }

    .header-operation-right,
    .header-auth {
        position: static;
    }

    .header-auth-popup {
        left: -16px;
        right: -16px;
    }

    .header-auth-popup__link {
        display: block;
        padding: 14px 16px;
        color: #273136;
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        position: relative;
    }

    .slider-mobile-card__img {
        height: 150px;
    }

    .slider-mobile .slick-prev, .slider-mobile .slick-next {
        top: 74px;
    }

    .basket-address-card {
        display: block;
    }

    .basket-address-card__input {
        width: 100%;
        margin: 0 0 10px 0;
    }

}

@media (max-width: 460px) {
    .catalog-list[data-display="list"] .catalog-card__footer {
        position: static;
        padding-top: 8px;
    }

    .catalog-list[data-display="list"] .catalog-card__line {
        justify-content: flex-start;
        margin-top: 8px;
    }
}

@media (max-width: 400px) {

    .header-catalog {
        margin: 0;
    }

    .header-catalog__link {
        padding: 13px 7px;
    }

    .search-card-quantity {
        width: 77%;
        text-align: right;
        margin-top: 10px;
    }

    .search-card-btn {
        width: 60px;
        margin-top: 10px;

    }

    .search-card-pn {
        width: 42%;
    }

    .search-card-sale {
        width: 43%;
        text-align: left;
    }

    .header-logo .icon-logo {
        font-size: 158px;
    }

    
    .product-card-table--3 .product-card-table__price .search-card-quantity,
    .product-card-table--3 .product-card-table__price .search-card-btn {
        margin-top: 0;
    }
}